spring:
  cloud:
    inetutils:
      preferred-networks:
        - 127.0
      ignored-interfaces:
        - eth.*
        - wlan.*

server:
  port: 8080


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    preferIpAddress: false
    instanceId: localhost:api-gateway:8080